<div class="ui segment" id="login-form">
  <form class="ui form" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    <div class="field">
      <label>Login</label>
      <input type="text" name="login" formControlName="login" placeholder="Login"/>
    </div>
    <div class="field">
      <label>Password</label>
      <input name="password" formControlName="password" placeholder="Password (at least 6 characters)" type="password"/>
    </div>
    <div class="field">
      <input value="Login" type="submit" class="ui submit button" [disabled]="!loginForm.valid"/>
    </div>
  </form>
</div>
