#editor-form {
  max-width: 400px;
  height: 300px;
  margin: 32px 0 0 32px;
  padding: 32px;
}

#result-table {
  max-width: 600px;
  margin: 16px auto;
}

#head-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
