<header>
  <table id="credentials-table">
    <tr>
      <th scope="row">Authors</th>
      <td lang="ru-RU">Gorbunov Mikhail and Mazunin Konstantin</td>
    </tr>
    <tr>
      <th scope="row">Group</th>
      <td>P3217</td>
    </tr>
    <tr>
      <th scope="row">Var.</th>
      <td>2257</td>
    </tr>
  </table>
</header>
<app-clock></app-clock>
<app-auth></app-auth>
